In [4]:
import streamlit as st
import pandas as pd

In [5]:


df = pd.DataFrame({
  'first column': [1, 2, 3, 4],
  'second column': [10, 20, 30, 40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40